* {
    font-family: "Montserrat", sans-serif;
    color: #fff;
}

.container {
    width: 400px;
    margin-top: 50px;
}

a,
a:focus,
a:hover {
    color: #fff;
}

html,
body {
    height: 100%;
    background: rgb(228, 203, 188);
    background: linear-gradient( 343deg, rgba(228, 203, 188, 1) 0%, rgba(219, 188, 168, 1) 47%, rgba(208, 160, 130, 1) 100%);
}

.cover-container {
    max-width: 42em;
}

@media (min-width: 48em) {
    .masthead-brand {
        float: left;
    }
    .nav-masthead {
        float: right;
    }
}

.main-animation {
    width: 70%;
}