/*
 * Globals
 */


/* Links */

* {
    font-family: "Montserrat", sans-serif;
    color: #fff;
}

#questionStructure {
    margin-top: 70px;
}

#buttonsGroup {
    position: relative;
    margin-top: 50px;
}

.artprincipalbtn {
    padding: 15px 30px;
    background-color: #ffffff4f;
    color: #ffffff;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 500;
    border-radius: 50px;
    box-shadow: 0px 8px 20px #97434350;
}

.artprincipalbtn:hover {
    background-color: #ffffff23;
}

.artsmbtn {
    padding: 10px 25px;
    background-color: #ffffff4f;
    color: #ffffff;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 500;
    border-radius: 50px;
    box-shadow: 0px 8px 20px #97434350;
    border: none;
}

.next {
    position: absolute;
    right: 0;
}

.prev {
    position: absolute;
    left: 0;
}

.restart {
    background-color: #008a6a;
    position: absolute;
    left: 0;
    top: 50px;
}

.restart:hover {
    background-color: #00614a;
}

.artsmbtn:hover {
    background-color: #ffffff23;
}

.artsmbtn:disabled {
    background-color: #ffffff00;
    color: #ffffff00;
    box-shadow: 0px 8px 20px #97434300;
}

.restart:hover {
    background-color: #00614a;
}

p {
    font-size: 14px;
}

.principaltext {
    margin-bottom: 60px;
}

h1 {
    margin-bottom: 30px;
}

.artlistitem {
    padding: 15px 30px;
    background-color: #ffffff23;
    color: #ffffff;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 500;
    border-radius: 50px;
    box-shadow: 0px 8px 20px #97434350;
    margin-bottom: 20px;
    list-style: none;
    width: 400px;
}

li {
    list-style: none;
}

.artlistitem:hover {
    background-color: #ffffff4f;
}

.artnumber {
    font-size: 40px;
    font-family: "DM Serif Text", serif;
    font-weight: 700;
    display: inline-block;
    margin-top: 0;
}

.arttitle {
    font-family: "DM Serif Text", serif;
    font-size: 40px;
    margin-bottom: 40px;
}

.checked-radio {
    padding: 15px 30px;
    background-color: #00614a;
    color: #ffffff;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 500;
    border-radius: 50px;
    box-shadow: 0px 8px 20px #97434350;
    margin-bottom: 20px;
    list-style: none;
    width: 400px;
}


/* .btn-check {
    display: none;
} */

.container {
    width: 400px;
    margin-top: 50px;
}

a,
a:focus,
a:hover {
    color: #fff;
}


/* Custom default button */


/*
 * Base structure
 */

html,
body {
    height: 100%;
    background: rgb(235, 209, 195);
    background: linear-gradient( 90deg, rgba(235, 209, 195, 1) 0%, rgba(219, 174, 150, 1) 33%, rgba(196, 141, 112, 1) 82%);
}

.cover-container {
    max-width: 42em;
}


/*
 * Header
 */

.masthead {
    margin-bottom: 2rem;
}

.masthead-brand {
    margin-bottom: 0;
}

.nav-masthead .nav-link {
    padding: 0.25rem 0;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.5);
    background-color: transparent;
    border-bottom: 0.25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: rgba(255, 255, 255, 0.25);
}

.nav-masthead .nav-link+.nav-link {
    margin-left: 1rem;
}

.nav-masthead .active {
    color: #fff;
    border-bottom-color: #fff;
}

@media (min-width: 48em) {
    .masthead-brand {
        float: left;
    }
    .nav-masthead {
        float: right;
    }
}


/*
 * Footer
 */

.mastfoot {
    color: rgba(255, 255, 255, 0.5);
}

.choosen {
    background: rgb(142, 189, 104);
}

.unchosen {
    background: #000;
}